@media(min-width:1400px) {
    #banner_part .slick-dots {
        right: 20px;
    }
}
@media(min-width:1200px) and (max-width:1399.98px) {
.icons{
    width: 100%;
}
.team_text p {
	padding: 0px 60px;
}
.feedback_small {
	padding-left: 50px;
}
#banner_part .slick-dots {
    right: 10px;
}
}

@media(min-width:992px) and (max-width:1199.98px) {
    .banner_item .overlay {
        padding: 200px 0 100px;
    }
    .banner_text h2 {
        font-size: 28px;
    }
    .tab_heading {
        position: relative;
        padding-right: 30px;
    }
    .tab_text h5 {
        font-size: 13px;
    }
    .icons{
        width: 100%;
    }
    .team_text p {
        padding: 0px 30px;
    }
    .banner_text{
        padding-right: 20px;
    }
    #banner_part .slick-dots {
        right: 10px;
    }
}
@media(min-width:768px) and (max-width:991.98px) {
    .navbar-brand img{
        width: 150px;
    }
    .main_menu ul li a {
        padding-right: 28px !important;
    }
    .menu_fix {
        height: 80px;
    }
    #banner_part .slick-dots {
        right: 10px;
    }
    .banner_item .overlay {
        padding: 200px 0 100px;
    }
    #about_part {
        padding: 80px 0px;
    }
    /* TAbs Part */
    .tab_heading {
        padding-right: 0px;
    }
    .tab_text h3 {
        font-size: 14px;
    }
    .tab_text h5 {
        font-size: 13px;
        padding-bottom: 14px;
    }
    .tab_icons i {
        padding-top: 10px;
    }
    .tab_heading::after {
        background: #353535;
        height: 1px;
        width: 100%;
    }
    .tab_text h4 {
        padding-top: 40px;
    }
    #feat_part .nav-link{
        padding: 8px 0px;
    }
    .tab_text h5 {
        font-size: 12px;
    }
    #ss_part {
        padding: 80px 0;
        position: relative;
    }
    .price_col{
        margin-bottom: 40px;
    }
    
    .icons {
        width: 100%;
    }
    .team_text p {
        padding: 0px 20px;
    }
    .feedback_small {
        padding-left: 80px;
    }
    #fb_part {
        margin-bottom: 80px;
    }
    #contact_part {
        padding-bottom: 80px;
    }
    #price_part {
        padding-bottom: 80px;
    }
    #video_part {
        padding-bottom: 80px;
    }
}

@media(min-width:576px) and (max-width:767.98px) {
    /* MEnu PArt */

    .navbar-brand img {
        height: 60px;
    }

    .main_menu {
        top: 20px;
    }

    .navbar-toggler-icon i {
        color: #fff;
        font-size: 24px;
    }

    .menu_fix {
        background: #222;
        height: 80px;
        position: sticky;
        top: 0;
        left: 0;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    #navbarSupportedContent {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
    }

    .main_menu ul li {
        background: rgba(0, 0, 0, 0.85);
        padding: 5px 0 5px 40px;
    }

    .main_menu ul li .trial_btn {
        background: transparent;
        font-weight: 400;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 10px;
    }

    /* About PArt */
    #about_part {
        padding: 70px 0px;
    }

    #feat_part {
        padding: 70px 0;
        background: #f1f1f1;
    }

    .mar_bot img {
        margin: auto;
    }

    #ss_part {
        padding: 70px 0;
        position: relative;
    }

    .price_col {
        position: relative;
        margin-bottom: 50px;
    }

    #price_part {
        padding-bottom: 70px;
    }

    #contact_part {
        padding-bottom: 70px;
    }

    #fb_part {
        margin-bottom: 70px;
    }

    .team_upper .overlay a:last-child {
        margin-right: 0;
    }

    .team_upper .overlay a i {
        font-size: 22px;
        line-height: 38px;
        height: 38px;
        width: 38px;
    }

    .team_text {
        padding: 20px 0;
    }

    .team_text p {
        padding: 0px 10px;

        font-size: 13px;
    }

    .team_col {
        padding-top: 45px;
    }

    .icons {
        width: 100%;
    }

    /* FEEdback paert */
    .feedback_small {
        padding-left: 40px;
    }
    #fb_part {
        margin-bottom: 60px;
    }

}

@media(max-width:575.98px) {
    /* MEnu PArt */

    .navbar-brand img {
        height: 60px;
    }

    .main_menu {
        top: 20px;
    }

    .navbar-toggler-icon i {
        color: #fff;
        font-size: 24px;
    }

    .menu_fix {
        background: #222;
        height: 80px;
        position: sticky;
        top: 0;
        left: 0;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    #navbarSupportedContent {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
    }

    .main_menu ul li {
        background: rgba(0, 0, 0, 0.85);
        padding: 5px 0 5px 20px;
    }

    .main_menu ul li .trial_btn {
        background: transparent;
        font-weight: 400;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 10px;
    }

    /* BAnner Part */
    .banner_item .overlay {
        padding: 180px 0 75px;
    }

    .banner_text h1 {
        font-size: 36px;
    }

    .banner_text h2 {
        font-size: 18px;
    }

    .banner_text h2::before {
        width: 60%;
    }

    .banner_text p {
        padding-bottom: 40px;
    }

    .banner_text a {
        padding: 6px 15px;
        margin-right: 0px;
    }

    .banner_text a i {
        color: #fff;
        padding-top: 0px;
    }

    /* About PArt */
    #about_part {
        padding: 60px 0px;
    }

    .about_text p {
        padding-left: 0px;
        padding-right: 0px;
    }

    .about_head h3 {
        font-size: 22px;
    }

    /* Videpo PArt */
    #video_part {
        padding-bottom: 60px;
    }

    /* FEature part */
    .tab_icons i {
        font-size: 34px;
        margin-right: 0px;
        padding-top: 0px;
    }

    #feat_part .nav-link {
        display: block;
        padding: .5rem 10px !important;
    }

    .tab_text p {
        line-height: 20px;
        padding-top: 20px;
    }

    .tab_text h4 {
        padding-top: 40px;
    }

    /* Price PArt */
    .price_col {
        position: relative;
        margin-bottom: 50px;
    }

    #price_part {
        padding-bottom: 60px;
    }

    /* Ss part */
    #ss_part {
        padding: 60px 0;
    }

    .mar_bot img {
        margin: auto;
    }

    /* TEam part */
    .team_col {
        margin: auto;
    }

    .team_upper .overlay a:last-child {
        margin-right: 0;
    }

    .team_upper .overlay a i {
        font-size: 22px;
        line-height: 38px;
        height: 38px;
        width: 38px;
    }

    .team_text {
        padding: 20px 0;
    }

    .team_text p {
        padding: 0px 0px;
    }

    .team_col {
        padding-top: 45px;
    }

    /* FEEdback paert */
    .feedback_small {
        padding-left: 0px;
    }

    #fb_part {
        margin-bottom: 60px;
    }

    .test_img img {
        margin: auto;
    }

    /* Contact Part */
    #contact_part {
        padding-bottom: 60px;
    }

    /* Footer part */
    .foot_icons a:last-child {
        margin-right: 0;

    }

    .foot_icons a i {
        height: 45px;
        width: 45px;
        line-height: 45px;
    }
}